

.cart_color_props{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5pt;
    text-transform: uppercase;
}

.cart_prop_header{
    font-weight: 500;
    font-size: 14px;
}

.cart_infos .cart_prodname{
    font-size: 14px;
    font-weight: 600;
}

.cart_price_info .prdinfo_product_oldprice{
    color: rgb(133,121,112);
    text-decoration: line-through;

}

.profile_fields p {
    width: 100%;
    background: #f4f4f4;
    border: none;
    padding: 3% 3% 3% 2%;
    margin-top:2%;
    margin-bottom: 1%;
    font-size: 13px;
}